.profile__avatar {
    width: 100%;
    height: 100%;
    border-radius:50%;
    margin-right: 30px;
    object-fit: cover;
}

@media screen and (max-width: 1050px) {
    .profile__avatar {
      margin: 0 auto 26px;
    }
}